<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRBox: Login</title>
</head>
<body>
    <h1>Sign in</h1>
    <h4>to continue to QRBox</h4>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li> {{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }}: {{ form.email }}<br><br>
            {% for error in form.email.errors %}
                <span>[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}: {{ form.password(size=20) }}<br><br>
            {% for error in form.password.errors %}
                <span>[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
        <div>
            <p>New to QRBox? <a href="{{ url_for('register') }}">Create account</a></p>
        </div>
    </form>
</body>
</html>