<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QRBox: My QR Codes</title>
</head>
<body>
    {% if user %}
        <a href="/">Main</a>
        <a href="/logout">Logout</a><br><br>
    {% endif %}
    <h2>My QR Codes</h2>
    <a href="/">Create new</a><br><br>
    {% if codes %}
        {% for code in codes %}
            {{ loop.index }}: {{ code.name }}
            <form action="/delete/{{ code.id }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
            <form action="/download/{{ code.id }}" method="get" style="display:inline;">
                <button type="submit">Download</button><br><br>
            </form>
        {% endfor %}
    {% else %}
        <p>You don't have generated codes</p>
    {% endif %}
</body>
</html>
