<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QRBox: My QR Codes</title>
</head>
<body>
    {% if user %}
        <a href="/logout">Logout</a><br><br>
    {% endif %}
    <h2>My QR Codes</h2>
    <a href="/">Create new</a><br><br>
    {% if codes.items %}
        {% for code in codes.items %}
            {{ (codes.page - 1) * codes.per_page + loop.index }}: {{ code.name }}
            <form action="/delete/{{ code.id }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
            <form action="/download/{{ code.id }}" method="get" style="display:inline;">
                <button type="submit">Download</button><br><br>
            </form>
        {% endfor %}

        <!-- Пагинация -->
        <div class="pagination">
            <span class="step-links">
                {% if codes.has_prev %}
                    <!-- Первая страница -->
                    <a href="?page=1&per_page={{ per_page }}"><<</a>
                    <!-- Предыдущая страница -->
                    <a href="?page={{ codes.prev_num }}&per_page={{ per_page }}"><</a>
                {% endif %}

                <span class="current">
                    Page {{ codes.page }} from {{ codes.pages }}.
                </span>

                {% if codes.has_next %}
                    <!-- Следующая страница -->
                    <a href="?page={{ codes.next_num }}&per_page={{ per_page }}">></a>
                    <!-- Последняя страница -->
                    <a href="?page={{ codes.pages }}&per_page={{ per_page }}">>></a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>You don't have generated codes</p>
    {% endif %}
</body>
</html>
