.sign-in {
    width: 50px;
    height: 20px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.main-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.main-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
}

.main-form form {
    display: flex;
    flex-direction: column;
}

.main-form button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

.main-form button:hover {
    background-color: #45a049;
}

.form-row {
    display: flex;
    align-items: center; /* Вертикальное выравнивание по центру */
    margin-bottom: 10px; /* Отступ между строками */
}

.form-row label {
    margin-right: 10px; /* Отступ между меткой и полем */
}

.form-row input[type="checkbox"] {
    margin-left: 10px;
}
