.header {
        width: calc(100% - 1000px);
        height: 100px;
        background-color: #3d444a;
        margin: 0 auto;
        background: #262624;
        position: relative;
        }

body, html {
    margin: 0;
    padding: 0;
}