<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% if user %}
        <h1>Welcome to QRBox, {{ user|capfirst }}</h1>
        <a href="{% url 'qrcodes' %}">My QR codes</a>
        <a href="{% url 'logout' %}">Logout</a><br><br>
    {% else %}
        <a href="{% url 'login' %}">Login</a><br><br>
    {% endif %}
    <form method="post" enctype="multipart/form-data" action="{% url 'main' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="reset">Reset</button>
        <button type="submit">Create</button>
    </form>
    {% if qr_code %}
        <div class="qr-code">
            <h2>{{ result }}</h2>
            <img src="{{ qr_code }}">
        </div>
    {% endif %}
</body>
</html>