{% extends "header.html" %}
{% block title %} {{ block.super }} {% endblock %}
{% block menu %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main_styles.css' %}">
<a href="/login/">
    <img src="{% static 'images/signin.png' %}" alt="Sign in" class="sign-in">
</a>
{% endblock %}
{% block content %}
<div class="main-form-container">
    <div class="main-form">
        <form method="post" action="{% url 'main' %}">
            {% csrf_token %}
            <div class="form-row">
                <label>Enter URL:</label>
                {{ form.as_p }}
            </div>
            <div class="form-row">
                <label for="transparent">Transparent background</label>
                <input type="checkbox" id="transparent" name="transparent">
                <label>Element shape</label>
                <select id="options" name="options">
                    <option value="square">Square(default)</option>
                    <option value="circle">Circle</option>
                    <option value="triangle">Triangle</option>
                    <option value="star">Star</option>
                    <option value="diamond">Diamond</option>
                    <option value="Waves">Waves</option>
                    <option value="Custom">Custom image</option>
                </select>
                <label for="colorPicker">Element color:</label>
                <input type="color" id="colorPicker" name="color" value="#ff0000">
                <label for="imageUpload">Upload an image:</label>
                <input type="file" id="imageUpload" name="image" accept="image/*">
                <label for="animated">Animated</label>
                <input type="checkbox" id="animated" name="animated">
            </div>
            <button type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock %}