<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% if user %}
        <h1>Welcome to QRBox, {{ user|capfirst }}</h1>
        <a href="{% url 'logout' %}">Logout</a><br><br>
    {% else %}
        <a href="{% url 'login' %}">Login</a><br><br>
    {% endif %}
    <form method="post" enctype="multipart/form-data" action="{% url 'main' %}">
        {% csrf_token %}
        <label>{{ form.data.label }}</label> {{ form.data }}<br><br>
        <label>{{ form.size.label }}</label> {{ form.size }} 1 = 21x21, 2 = 25x25 and etc...<br><br>
        <label>{{ form.transparent.label }}</label> {{ form.transparent }}<br><br>
        <label>{{ form.background.label }}</label> {{ form.background }}<br><br>
        <label>{{ form.logo.label }}</label> {{ form.logo }}<br><br>
        <label>{{ form.color.label }}</label> {{ form.color }}<br><br>
        <button type="reset">Reset</button>
        <button type="submit">Create</button>
    </form>
</body>
</html>