<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% if user %}
        <a href="{% url 'logout' %}">Logout</a><br><br>
    {% endif %}
    <h1>My Codes</h1>
    <a href="{% url 'main' %}">Create new</a><br><br>
    {% if page_obj.object_list %}
        {% for code in page_obj %}
            {{ page_obj.start_index|add:forloop.counter0 }}: {{ code.q_name }}
            <form action="{% url 'delete' code.id %}" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
            <form action="{% url 'download' code.id %}" style="display:inline;">
                <button type="submit">Download</button><br><br>
            </form>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&per_page={{ per_page }}"><<</a>
                    <a href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}"><</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}">></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&per_page={{ per_page }}">>></a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>You don't have generated codes</p>
    {% endif %}
</body>
</html>
