<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% if user %}
        <a href="{% url 'main' %}">Main</a>
        <a href="{% url 'logout' %}">Logout</a><br><br>
    {% endif %}
    <h1>My Codes</h1>
    <a href="{% url 'main' %}">Create new</a><br><br>
    {% if codes %}
        {% for code in codes %}
            {{ code.id }}. {{ code.q_name }}
            <a href="{% url 'delete' code.id %}">delete</a><br><br>
        {% endfor %}
    {% else %}
        <p>You don't have generated codes</p>
    {% endif %}
</body>
</html>