<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% if user %}
        <a href="{% url 'logout' %}">Logout</a><br><br>
    {% endif %}
    <h1>My Codes</h1>
    <a href="{% url 'main' %}">Create new</a><br><br>
    {% if codes %}
        {% for i, code in codes %}
            {{ forloop.counter }}: {{ code.q_name }}
            <form action="{% url 'delete' code.id %}" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
            <form action="{% url 'download' code.id %}" style="display:inline;">
                <button type="submit">Download</button><br><br>
            </form>
        {% endfor %}
    {% else %}
        <p>You don't have generated codes</p>
    {% endif %}
</body>
</html>