<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QRBox: Login</title>
</head>
<body>
    <h1>Sign in</h1>
    <h4>to continue to QRBox</h4>
    {% if request.query_params.get('message') %}
    <ul>
        <li>{{ request.query_params.get('message') }}</li>
    </ul>
    {% endif %}
    <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Login</button><br><br>
        <p>New to QRBox? <a href="register/">Create account</a>
    </form>
</body>
</html>

