<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QRBox</title>
</head>
<body>
    {% if user %}
        <h1>Welcome to QRBox, {{ user|title }}</h1>
        <a href="/qrcodes?page=1&size=5">My QR codes</a>
        <a href="/logout">Logout</a><br><br>
    {% else %}
        <a href="/login">Login</a><br><br>
    {% endif %}
    <form method="post" enctype="multipart/form-data" action="/create">
        <label for="data">URL:</label>
        <input type="text" id="data" name="data" placeholder="Enter URL..." class="form-control" maxlength="255" required><br><br>
        <label for="size">QR code Size (1-40):</label>
        <input type="number" id="size" name="size" class="form-control" min="1" max="40" required><br><br>
        <label for="transparent">Transparent background:</label>
        <input type="checkbox" id="transparent" name="transparent"><br><br>
        <label for="background">Custom background:</label>
        <input type="file" id="background" name="background" accept="image/*"><br><br>
        <label for="logo">Logo:</label>
        <input type="file" id="logo" name="logo" accept="image/*"><br><br>
        <label for="color">Color:</label>
        <input type="color" id="color" name="color" value="#ff0000"><br><br>
        <button type="reset">Reset</button>
        <button type="submit">Create</button><br>
        {% if qr_code %}
        <h3>Your QR Code:</h3>
        <img src="{{ qr_code }}">
        {% endif %}
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>
