<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QRBox: My QR Codes</title>
</head>
<body>
    {% if user %}
        <a href="/logout">Logout</a><br><br>
    {% endif %}
    <h2>My QR Codes</h2>
    <a href="/main">Create new</a><br><br>
    {% if codes.items %}
        {% for code in codes.items %}
            {{ (codes.page - 1) * codes.size + loop.index }}: {{ code.q_name }}
            <form action="/qrcodes/{{ code.id }}/delete" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
            <form action="/qrcodes/{{ code.id }}/download" style="display:inline;">
                <button type="submit">Download</button><br><br>
            </form>
        {% endfor %}
    {% else %}
        <p>You don't have generated codes</p>
    {% endif %}
    <div class="pagination">
        <span class="step-links">
            {% if codes.page > 1 %}
                <a href="?page=1&size={{ codes.size }}"><<</a>
                <a href="?page={{ codes.page - 1 }}&size={{ codes.size }}"><</a>
            {% endif %}
            <span class="current">
                Page {{ codes.page }} of {{ codes.pages }}.
            </span>
            {% if codes.page < codes.pages %}
                <a href="?page={{ codes.page + 1 }}&size={{ codes.size }}">></a>
                <a href="?page={{ codes.pages }}&size={{ codes.size }}">>></a>
            {% endif %}
        </span>
    </div>
</body>
</html>
